body {
    background-image: url("../resources/layout/home_sfondo.jpg"), url("../resources/layout/background_loop.jpg");
	background-position: center top, center top;
    background-repeat: no-repeat, repeat-y;

    background-color: #d2a64d;
    margin-top: 0;

    color: #FFF;
    width: 1000px;
    margin: auto;

    font-family: Arial;
}
img[alt="header"] {
    margin-bottom: 3px;
}
img[alt="header-alt"] {
    display: none;
}
img[alt="discord-btn"] {
    height: 30px;
}
.ghbutton {
    position: absolute;
    top: 60px;
    margin-left: 830px; 
}

.ghbutton span {
    display: flex;
}

.discordbtn {
    position: absolute;
    margin-left: 790px;
    top: 60px;
}

.discordbtn :active {
    transform: translateY(2px); /* Move the button down by 2px */
}

.langSwitch {
    position: absolute;
    top: 272px;
    margin-left: 832px;
    width: 160px;
    display: flex;
    justify-content: space-evenly;
}

.langSwitch button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.langSwitch button:active {
    transform: translateY(2px); /* Move the button down by 2px */
}

.eng-text {
    display: none;
}


.image-text-holder {
    position: relative;
}
.text-holder {
    position: absolute;
}

#text-outline {
    text-shadow: -1px -1px 0 #3b3b3b, 1px -1px 0 #3b3b3b, -1px 1px 0 #3b3b3b, 1px 1px 0 #3b3b3b;
}

nav {
    width: 685px; 
    position: absolute; 
    top: 136px; 
    margin-left: 280px; 
    display: flex; 
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
}

.content {
    display: flex;
    font-size: 16px;
}

article {
    width: 830px;
}

aside {
    padding-left: 12px;
}

footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 830px;
}

footer section {
    position: relative;
    width: 270px;
    margin-bottom: 15px;
}

footer section img {
    position: absolute;
    left: 0;
    right: 0;
    
}

footer section div {
    position: relative;
    z-index: 1;
    color: #fff;
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: clip;
    height: 145px
}

footer section div li {
    margin-top: 5px;
}

footer section div li a {
    text-decoration: none;
    color: white;
}
#thanks {
    margin-bottom: 1%;
}
#thanks p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#thanks span {
    margin-right: 1ch;
}

@media screen and (max-device-width:1024px), (orientation:portrait) {
    body {
        background-image: none;
        width: 85%;
    }
    body > * {
        margin: auto;
        width: auto;
        position: static;
    }
    img[alt="header"] {
        display: none;
    }
    img[alt="header-alt"] {
        display: block;
        width: 50%;
    }
    .top-buttons {
        display: flex;
    }
    .discordbtn {
        position: static;
        margin: 0;
    }
    .ghbutton {
        position: static;
        margin: 0;
    }
    .langSwitch {
        position: static;
        margin: 0;
        width: auto;
    }
    .langSwitch button {
        border: solid black;
        border-radius: 1em;
    }
    nav {
        margin: 2.5%;
        border: solid black;
        border-radius: 1em;
        flex-direction: column;
        align-items: center;
    }
    nav div {
        padding-bottom: 3%;
        padding-top: 3%;
    }
    .image-text-holder img {
        display: none;
    }
    .text-holder {
        position: static;
        width: auto;
    }
    .welcome-text {
        width: auto;
    }
    .content {
        flex-direction: column;
        align-items: center;
        font-size: 38px;
    }
    .content article {
        width: 100%;
    }
    aside {
        width: 100%;
    }
    footer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    footer section {
        width: 1rem;
    }
    footer section img {
        position: static;
        left: auto;
        right: auto;
        
    }
    #thanks {
        background-color: black;
        padding: 1%;
        border-radius: 1em;
    }
}