---
layout: default
title: {{ page.name_eng }}
---
<article>
    <a href="{{ 'pages/cards' | relative_url }}"><- Cards Page</a>

    <div style="display: flex; align-items: center;">
        <div class="ita-text"><h1>{{ page.name_ita }}</h1></div>
        <div class="eng-text"><h1>{{ page.name_eng }}</h1></div>
        <img 
        src="{{ 'resources/ageicons/' | append: page.age | downcase | replace: ' ', '-' | append: 'age-icon.png' | relative_url }}" 
        alt="age-icon"
        style="width: 5%; margin: 2%;">
        <p class="ita-text">({{ page.guild_ita }})</p>
        <p class="eng-text">({{ page.guild_eng }})</p>
    </div>

    <div class="ita-text"><p>"{{ page.desc_ita }}"</p></div>
    <div class="eng-text"><p>"{{ page.desc_eng }}"</p></div>


    <div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: flex-end;">
        {%- for card in page.cards -%}
            <div style="width: 30%;">
                {%- if card.confirmed == true -%}
                    <img 
                    src="{{ 'resources/cards/' 
                            | append: page.name_eng
                            | append: '/'
                            | append: card.name_eng
                            | downcase 
                            | replace: ' ', '-'
                            | append: '.jpg'
                            | relative_url }}" 
                    alt="card"
                    style="width: 100%;">
                {%- else -%}
                    <img src="{{ 'resources/cards/backcard.jpg' | relative_url }}" 
                    alt="not-confirmed-card"
                    style="width: 100%; filter: grayscale(100%);">
                {%- endif -%}
                <div style="font-weight: bold;">
                    <p class="ita-text">{{ card.name_ita }}</p>
                    <p class="eng-text">{{ card.name_eng }}</p>
                </div>
                <p>Attack: {{ card.attack[0] }}|{{ card.attack[1] }}</p>
                <p>Defense: {{ card.defense[0] }}|{{ card.defense[1] }}</p>
                <p>Speed: {{ card.speed[0] }}|{{ card.speed[1] }}</p>
                <p>Barcode: {{ card.barcode }}</p>
            </div>
        {%- endfor -%}
    </div>


</article>

<aside>
    <p>This is the aside text.</p>
</aside>