<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="behero, be hero, combatti, giochipreziosi, gioco, giochi, digitalpreziosi">

    <title>{{ page.title }} » BeHero Wiki</title>
    <link rel="stylesheet" href="{{ 'css/default.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ 'resources/layout/icon.ico' | relative_url }}">
    <script src="{{ 'js/script.js' | relative_url }}"></script>
    {% seo %}
</head>
<body onload="startUp();">

    <img src="{{ 'resources/layout/header.jpg' | relative_url }}" alt="header" draggable="false" style="margin-bottom: 3px;">

    <div class="ghbutton">
        <iframe src="https://ghbtns.com/github-btn.html?user=The007who&repo=behero-decomp&type=star&count=true&size=large" 
        frameborder="0" scrolling="0" width="170" height="30" title="GitHub">
        </iframe>
    </div>

    <nav>

        <div><a href="{{ '/' | relative_url }}"><img src="{{ 'resources/layout/home.png' | relative_url }}" alt="homebtn"></a></div>
        <div><a href="{{ 'pages/game' | relative_url }}"><img src="{{ 'resources/layout/game.png' | relative_url }}" alt="gamebtn"></a></div>
        <div><a href="{{ 'pages/world' | relative_url }}"><img src="{{ 'resources/layout/world.png' | relative_url }}" alt="worldbtn"></a></div>
        <div><a href="{{ 'pages/cards' | relative_url }}"><img src="{{ 'resources/layout/cards.png' | relative_url }}" alt="cardsbtn"></a></div>
        <div><a href="{{ 'pages/media' | relative_url }}"><img src="{{ 'resources/layout/media.png' | relative_url }}" alt="mediabtn"></a></div>
        <div><a href="{{ 'pages/hardware' | relative_url }}"><img src="{{ 'resources/layout/hardware.png' | relative_url }}" alt="hardwarebtn"></a></div>

    </nav>

    <div class="search-bar">
        <input type="text">
    </div>


    <div class="langSwitch">
        <button onclick="buttonLang('ita');">Italiano</button>
        <button onclick="buttonLang('eng');">English</button>
    </div>


    <div class="content">
        {{ content }}
    </div>

    <footer>
        <section>
            <img src="{{ 'resources/layout/box_news.jpg' | relative_url }}" alt="news_box" draggable="false">
            <div id="commit-history"></div>
        </section>

        <section>
            <a href="{{ 'pages/hardware' | relative_url }}">
                <img src="{{ 'resources/layout/box_console.jpg' | relative_url }}" alt="box_console" draggable="false">
            </a>
        </section>

        <section>
            <a href="{{ 'pages/game' | relative_url }}">
                <img src="{{ 'resources/layout/home_sub_11.jpg' | relative_url }}" alt="box_console" draggable="false">
            </a>
        </section>
    </footer>


</body>
</html>